html {
  height: 100%;
  width: 100%;
}


div {
    width:100px;
    height:100px;
    border: 1px solid black;
    float:left;
    padding: 1px;
    text-align:center;
}
.red{background-color:#ff0000;}
.o{
  background-color:#FFA500;
}
.y{background: #ffff00;}
.g{background:#00ff00;}
.b{background:#0000ff;}
.n{background:#f00ff0;}

.apple